<header class="header">

    <h1 style="color: blue; font-weight: bold;">Sing-Ah Karaoke Reservation</h1>
    <div class="topnav">
        <a routerLink="/index">Home</a>
        <a>About</a>
        <a>Locate Us</a>
        <a>Promotions</a>
        <a>Contact Us</a>
        <a *ngIf="sessionService.getIsLogin() != true" routerLink="/customerOperation/registerCustomer">Sign Up</a>
        <a *ngIf="sessionService.getIsLogin() == true" (click)="customerLogout()">Logout</a>
    </div>

</header>
