<header class="header">

    <h1 style="color: #950740; font-weight: bold; padding: 14px;">Sing-Ah Karaoke Reservation</h1>
    <div class="topnav" *ngIf="sessionService.getIsLogin() != true" >
        <a routerLink="/index">Home</a>
        <a routerLink="/aboutUs">About</a>
        <a>Locate Us</a>
        <a routerLink="/promotions">Promotion</a>
        <a routerLink="/registerCustomer">Sign Up</a>
    </div>

    <div *ngIf="sessionService.getIsLogin() == true">

        <div class="topnav">
            <a routerLink="/index">Home</a>
            <a routerLink="/aboutUs">About</a>
            <a>Locate Us</a>

            <div class="loginbox" style="color: honeydew;">
                Welcome, {{sessionService.getCurrentCustomer().name}}
    
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon style="font-size: 20px;">more_vert</mat-icon>
                </button>
    
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/index">
                        <mat-icon>home</mat-icon>
                        <span>Home</span>
                    </button>
                    <button mat-menu-item routerLink="/customerOperation/updateCustomer">
                        <mat-icon>account_circle</mat-icon>
                        <span>Manage account</span>
                    </button>
                    <button mat-menu-item button (click)="customerLogout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </div> 
        </div>

          
    </div>

</header>
