<app-header></app-header>

<section id="content" class="content">

    <div>
        <h1 style="padding: 20px;">My Account</h1>
        <mat-tab-group>
            <mat-tab label="Details">
                <div style="padding-left: 50px;">
                    <form class="form" #updateCustomerForm="ngForm" (ngSubmit)="update(updateCustomerForm)">
                        <tr>
                            <td style="border: hidden; text-align: right;">Name: </td>
                            <td style="border: hidden;">
                                <mat-form-field appearance="outline">
                                    <input class="input" id="name" matInput name="name" #name="ngModel" [(ngModel)]="customerToUpdate.name" required="true"/>
                                    <mat-error *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="errorText">
                                        <div *ngIf="name.errors.required">
                                            Name is required.
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: hidden; text-align: right;">Email: </td>
                            <td style="border: hidden;">
                                <mat-form-field appearance="outline">
                                    <input class="input" id="email" matInput name="email" #email="ngModel" [(ngModel)]="customerToUpdate.email" required="true" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" />
                                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched || submitted)" class="errorText">
                                        <div *ngIf="email.errors.required">
                                            Email is required.
                                        </div>
                                        <div *ngIf="email.errors.pattern">
                                            Please enter a valid email address.
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: hidden; text-align: right;">Contact number: </td>
                            <td style="border: hidden;">
                                <mat-form-field appearance="outline">
                                    <input class="input" id="phoneNo" type="tel" matInput name="phoneNo" #phoneNo="ngModel" [(ngModel)]="customerToUpdate.phoneNo" required="true" maxlength="8" pattern="[0-9]{8}"/>
                                    <mat-error *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched || submitted)" class="errorText">
                                        <div *ngIf="phoneNo.errors.required">
                                            Contact number is required.
                                        </div>
                                        <div *ngIf="phoneNo.errors.pattern">
                                            Please enter a valid contact number.
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: hidden; text-align: right;">Credit card number: </td>
                            <td style="border: hidden;">
                                <mat-form-field appearance="outline">
                                    <input class="input" id="creditCardNo" matInput name="creditCardNo" #creditCardNo="ngModel" [(ngModel)]="customerToUpdate.creditCardNo" required="true" maxlength="16" pattern="[0-9]{16}"/>
                                    <mat-error *ngIf="creditCardNo.invalid && (creditCardNo.dirty || creditCardNo.touched || submitted)" class="errorText">
                                        <div *ngIf="creditCardNo.errors.required">
                                            Credit card number is required.
                                        </div>
                                        <div *ngIf="creditCardNo.errors.pattern">
                                            Please enter a valid credit card number.
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="border: hidden; text-align: center;">
                                <button mat-stroked-button color="white" type="submit" >Save</button>
                            </td>
                        </tr>

                    </form>
                </div>
            </mat-tab>

            <mat-tab label="Change password">
                <div style="padding-left: 50px;">
                    <form class="form" [formGroup]="passwordForm">
                        <tr>
                            <td style="border: hidden; text-align: right;">Current password: </td>
                            <td style="border: hidden;">
                                <mat-form-field appearance="outline">
                                    <input class="input" type="password" matInput [(ngModel)]="oldPassword" [formControl]="passwordFormControl">
                                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                                        Current password is required.
                                    </mat-error>
                                </mat-form-field>                             
                            </td>
                        </tr>
                        <tr>
                            <td style="border: hidden; text-align: right;">New password: </td>
                            <td style="border: hidden;">
                                <mat-form-field appearance="outline">
                                    <input class="input" type="password" matInput [(ngModel)]="newPassword" formControlName="password" required>
                                    <mat-error *ngIf="passwordForm.hasError('required', 'password')">
                                        Please enter your new password
                                    </mat-error>
                                </mat-form-field>                             
                            </td>
                        </tr>
                        <tr>
                            <td style="border: hidden; text-align: right;">Confirm new password: </td>
                            <td style="border: hidden;">
                                <mat-form-field appearance="outline">
                                    <input class="input" type="password" matInput formControlName="confirmPassword" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="passwordForm.hasError('notSame')">
                                        Password do not match
                                    </mat-error>
                                </mat-form-field>                             
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="border: hidden; text-align: center;">
                                <button mat-stroked-button color="white" (click)=changePassword() >Change password</button>
                            </td>
                        </tr>
                    </form>
                </div>
            </mat-tab>

            <mat-tab label="Delete account">
                <div style="padding: 10px 50px; color: red; font-size: medium; font-weight: bolder;">
                    Once you delete your account, there's no getting it back.
                    Make sure you want to do this.  
                </div>
                <form class="form" style="color: white; padding-left: 50px;">
                    <tr>
                        <td style="border: hidden; text-align: right;">Enter password to delete: </td>
                        <td style="border: hidden;">
                            <mat-form-field appearance="outline">
                                <input class="input" type="password" matInput [(ngModel)]="deleteAccountPassword" [formControl]="passwordFormControl">
                                <mat-error *ngIf="passwordFormControl.hasError('required')">
                                    Password is required.
                                </mat-error>
                            </mat-form-field>                             
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: hidden; text-align: center;">
                            <button mat-stroked-button color="white" (click)="openDialog()" >Delete account</button>
                        </td>
                    </tr>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>


</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>
