<app-header></app-header>

<section id="content" class="content">

    <div class="wrapper">
        <div class="container">
            
            <form class="form" #createCustomerForm="ngForm" (ngSubmit)="create(createCustomerForm)">
                <h1>Register</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input class="input" matInput [(ngModel)]="newCustomer.username" [formControl]="usernameFormControl"/>
                    <mat-error *ngIf="usernameFormControl.hasError('required')">
                        Username is required.
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input class="input" type="password" matInput [(ngModel)]="newCustomer.password" [formControl]="passwordFormControl"/>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                       Password is required.
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input class="input" matInput [(ngModel)]="newCustomer.name" [formControl]="nameFormControl"/>
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                        Name is required.
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input class="input" matInput [(ngModel)]="newCustomer.email" [formControl]="emailFormControl"/>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('email')">
                        Please enter a valid email address.
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Contact number</mat-label>
                    <input class="input" type="tel" matInput [(ngModel)]="newCustomer.phoneNo" [formControl]="contactNoFormControl"/>
                    <mat-error *ngIf="contactNoFormControl.hasError('required')">
                        Contact number is required.
                    </mat-error>
                    <mat-error *ngIf="contactNoFormControl.hasError('pattern')">
                        Please enter a valid contact number.
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Credit Card number</mat-label>
                    <input class="input" matInput [(ngModel)]="newCustomer.creditCardNo" [formControl]="creditCardNoFormControl"/>
                    <mat-error *ngIf="creditCardNoFormControl.hasError('required')">
                        Credit Card number is required.
                    </mat-error>
                    <mat-error *ngIf="contactNoFormControl.hasError('pattern')">
                        Please enter a valid credit card number.
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Date of birth</mat-label>
                    <input class="input" matInput type="date" [(ngModel)]="newCustomer.birthday" [formControl]="dateFormControl" >
                    <mat-error *ngIf="dateFormControl.hasError('required')">
                        Date of birth is required.
                    </mat-error>
                </mat-form-field>
                <br/>
                <button mat-raised-button color="primary" type="submit" >Register</button>

                <div *ngIf="infoMessage" style="color: white;">
                    {{infoMessage}} Login to reserve a booking.
                </div>
                <div *ngIf="errorMessage" style="color: red;">
                    This username already exists.
                </div>
                
            </form>
        </div>
    </div>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>