<app-header></app-header>

<section id="content" class="content">

    <div class="wrapper" *ngIf="sessionService.getIsLogin() != true">
        <div class="container">
            
            <form class="form" #createCustomerForm="ngForm" (ngSubmit)="create(createCustomerForm)">
                <h1>Register</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input class="input" matInput id="username" name="username" #username="ngModel" [(ngModel)]="newCustomer.username" required="true"/>
                    <mat-error *ngIf="username.invalid && (username.dirty || username.touched || submitted)" class="errorText">
						<div *ngIf="username.errors.required">
							Username is required.
						</div>
					</mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input class="input" id="password" name="password" #password="ngModel" type="password" matInput password="username" #password="ngModel" [(ngModel)]="newCustomer.password" required="true"/>
                    <mat-error *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="errorText">
						<div *ngIf="password.errors.required">
							Password is required.
						</div>
					</mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input class="input" id="name" matInput name="name" #name="ngModel" [(ngModel)]="newCustomer.name" required="true"/>
                    <mat-error *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="errorText">
                        <div *ngIf="name.errors.required">
							Name is required.
						</div>
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input class="input" id="email" matInput name="email" #email="ngModel" [(ngModel)]="newCustomer.email" required="true" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" />
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched || submitted)" class="errorText">
                        <div *ngIf="email.errors.required">
							Email is required.
                        </div>
                        <div *ngIf="email.errors.pattern">
							Please enter a valid email address.
						</div>
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Contact number</mat-label>
                    <input class="input" id="phoneNo" type="tel" matInput name="phoneNo" #phoneNo="ngModel" [(ngModel)]="newCustomer.phoneNo" required="true" maxlength="8" pattern="[0-9]{8}"/>
                    <mat-error *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched || submitted)" class="errorText">
                        <div *ngIf="phoneNo.errors.required">
							Contact number is required.
                        </div>
                        <div *ngIf="phoneNo.errors.pattern">
							Please enter a valid contact number.
						</div>
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Credit Card number</mat-label>
                    <input class="input" id="creditCardNo" matInput name="creditCardNo" #creditCardNo="ngModel" [(ngModel)]="newCustomer.creditCardNo" required="true" maxlength="16" pattern="[0-9]{16}"/>
                    <mat-error *ngIf="creditCardNo.invalid && (creditCardNo.dirty || creditCardNo.touched || submitted)" class="errorText">
                        <div *ngIf="creditCardNo.errors.required">
							Credit card number is required.
                        </div>
                        <div *ngIf="creditCardNo.errors.pattern">
							Please enter a valid credit card number.
						</div>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Date of birth</mat-label>
                    <input class="input" id="birthday" matInput name="birthday" [matDatepicker]="picker" [max]="maxDate" #birthday="ngModel" [(ngModel)]="newCustomer.birthday" required="true"/>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="birthday.invalid && (birthday.dirty || birthday.touched || submitted)" class="errorText">
                        <div *ngIf="birthday.errors.required">
							Date of birth is required.
						</div>
                    </mat-error>
                </mat-form-field>
                <br/>
                <button mat-raised-button color="primary" type="submit" >Register</button>

                <div *ngIf="infoMessage" style="color: white;">
                    {{infoMessage}} Login to reserve a booking.
                </div>
                <div *ngIf="errorMessage" style="color: red;">
                    {{errorMessage}}
                </div>
                
            </form>
        </div>
    </div>

    <div *ngIf="sessionService.getIsLogin() == true">
        <p style="padding: 20px; color: red;">
            Please log out to sign up an account.
        </p>
    </div>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>