<app-header></app-header>

<section id="content" class="content">

    <app-main-menu></app-main-menu>
    <div style="margin-left: 16%;">
        <br/>
        <div style="font-size: 25px;">
            My Favourite Playlist
            <button mat-icon-button [matMenuTriggerFor]="menu" style="font-size: 25px;">
                <mat-icon>add_box</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addSongs()">
                    <mat-icon>playlist_add</mat-icon>
                    <span>Add Songs</span>
                </button>
                <button mat-menu-item (click)="addPlaylistToSongQueue()">
                    <mat-icon>queue_music</mat-icon>
                    <span>Add Playlist to Song Queue</span>
                </button>
            </mat-menu>
        </div>
        <mat-form-field style="width: 70%;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="selectedSongCategory" (selectionChange)="filterCategory($event.value)">
              <mat-option value="0">---</mat-option>
              <mat-option *ngFor="let songCategory of songCategories" [value]="songCategory.songCategoryId">
                {{songCategory.name}}
            </mat-option>
            </mat-select>
          </mat-form-field>

        <div style="overflow: auto; height: 500px;">

            <table mat-table [dataSource]="data" style="width: 100%; border: hidden; background-color: transparent;">

                <ng-container matColumnDef="songId">
                    <th mat-header-cell style="border: hidden; width: 18%;" *matHeaderCellDef> Song ID </th>
                    <td mat-cell style="border: hidden; width: 18%;" *matCellDef="let song"> {{song.songId}} </td>
                </ng-container>

                <ng-container matColumnDef="songTitle">
                    <th mat-header-cell style="border: hidden; width: 30%;" *matHeaderCellDef> Title </th>
                    <td mat-cell style="border: hidden; width: 30%;" *matCellDef="let song"> {{song.songTitle}} </td>
                </ng-container>

                <ng-container matColumnDef="singer">
                    <th mat-header-cell style="border: hidden; width: 20%;" *matHeaderCellDef> Singer </th>
                    <td mat-cell style="border: hidden; width: 20%;" *matCellDef="let song"> {{song.singer}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell style="border: hidden;" *matHeaderCellDef></th>
                    <td mat-cell style="border: hidden;" *matCellDef="let song"> 
                        <button mat-icon-button (click)="deleteSong(song)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row style="border: hidden;" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row style="border: hidden;" *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
            
        </div>

        <mat-paginator style="margin-left: 6px; background-color: transparent;" [length]="resultsLength" [pageSize]="20"></mat-paginator>

    </div>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>