<app-header></app-header>



<section id="content" class="content">
    <app-main-menu></app-main-menu>
    <br />

    <p-panel>
        

        <div *ngIf="infoMessage" style="color: blue;">
            {{infoMessage}}
        </div>


        <p-table [value]='selectedTransaction.foodOrderTransactionLineItemEntities' style=" width: 85%; text-align: center; position:relative; left: 20%; ">
            <ng-template pTemplate="header">
                <tr >
                    <td colspan="6"><h1 style="text-align: center; margin-top:20px;">Details for Food Order Transaction on {{selectedTransaction.transactionDateTime}}</h1></td>
                </tr>
                
                
                
                <tr>
                    <th>Food Item</th>
                    <th>Quantity</th>
                    <th>SubTotal</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transactionLineItem>
                <tr>
                    <td>{{transactionLineItem.foodItem.name}}</td>
                    <td>{{transactionLineItem.quantity}}</td>
                    <td>{{transactionLineItem.subTotal}}</td>
                    <td>
                        <p-button label="View" routerLink="/foodOrderOperation/viewFoodItemDetails/{{transactionLineItem.foodItem.foodItemId}}"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>


    </p-panel>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>