mat-sidenav-container {
    background-color: transparent;
}

mat-sidenav {
    background-color: transparent;
    border: none;
}

h1 {
    text-align: center;
}

mat-horizontal-stepper {
    background: none;
}

#paymentError {
    text-align: center; 
    margin-top: 5px; 
    font-size: 12px;
}
