
<app-header></app-header>



<section id="content" class="content">    
<app-main-menu></app-main-menu>	 
    <br/>

    
  
    <p-panel style="text-align: center; position: relative; left: 20%; transform: translate(-50%, -50%); ">
        <h2 style="color: ivory; transform: translate(-24%, -50%);">All Food Items </h2>
        
        <p-table [value]='foodItems' width="40%">
            <ng-template pTemplate="header">
                <tr>
                    <th>SKU Code</th>
                    <th>Name</th>
                    <th>Unit Price</th>
                    <th>Action</th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-foodItem>
                <tr>
                    <td>{{foodItem.skuCode}}</td>
                    <td>{{foodItem.name}}</td>
                    <td>{{foodItem.unitPrice}}</td>
                    <td><p-button label="View" routerLink="/foodOrderOperation/viewFoodItemDetails/{{foodItem.foodItemId}}"></p-button></td>
                </tr>
            </ng-template>
        </p-table>

    </p-panel>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>