<app-header></app-header>

<section id="content" class="content">

    <article *ngIf="sessionService.getIsLogin() == false">

        <div class="wrapper">
            <div class="container">
                <h1>Welcome</h1>

                <form class="form">
                    <input type="text" [(ngModel)]="username" name="username" placeholder="username" />
                    <input type="password" [(ngModel)]="password" name="password" placeholder="password" />
                    <input type="button" (click)="customerLogin()" value="Login" />
                </form>
            </div>
        </div>

        <div *ngIf="loginError == true" style="text-align: right; color: red;">
			{{errorMessage}}
		</div>
        
    </article>

    <article *ngIf="sessionService.getIsLogin() == true">

        <h3>Login successfully</h3>

    </article>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>

