<app-header></app-header>

<section id="content" class="content">

    <article *ngIf="sessionService.getIsLogin() == false">

        <div class="wrapper">
            <div class="container">
                <h1>Welcome</h1>
                <form class="form" #loginForm="ngForm" (ngSubmit)="customerLogin(loginForm)">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input class="input" matInput [(ngModel)]="username" name="username"/>
                    </mat-form-field>
                    <br/>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input class="input" type="password" matInput [(ngModel)]="password" name="password"/>
                    </mat-form-field>
                    <br/>
                    <button mat-raised-button color="primary" type="submit">Login</button>
                    <div *ngIf="errorMessage" style="color: red;">
                        Username or password is incorrect.
                    </div>
                </form>
            </div>
        </div>

    </article>

    <article *ngIf="sessionService.getIsLogin() == true">

        <h3 style="color: white;">Login successfully</h3>

    </article>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>

