<app-header></app-header>

<section id="content" class="content">

    <article *ngIf="sessionService.getIsLogin() == false">

        <div class="wrapper">
            <div class="container">

                <form class="form">
                    <tr style="border: hidden;">
                        <td style="border: hidden;"><h1>Welcome</h1></td>
                    </tr>

                    <tr style="border: hidden;">
                        <td style="border: hidden;">
                            <input class="input" type="text" [(ngModel)]="username" name="username" placeholder="username" />
                        </td>
                    </tr>

                    <tr style="border: hidden;">
                        <td style="border: hidden;">
                            <input class="input" type="password" [(ngModel)]="password" name="password" placeholder="Password" />
                        </td>
                    </tr>

                    <tr style="border: hidden;">
                        <td style="border: hidden;">
                            <input class="input" type="button" (click)="customerLogin()" value="Login" />
                        </td>
                    </tr>

                    <tr style="border: hidden;">
                        <td style="border: hidden;">
                            <div *ngIf="loginError == true" style="text-align: center; color: red;">
                                {{errorMessage}}
                            </div>
                        </td>
                    </tr>

                </form>

            </div>
        </div>

    </article>

    <article *ngIf="sessionService.getIsLogin() == true">

        <h3>Login successfully</h3>

    </article>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>

