<app-header></app-header>

<section id="content" class="content">
    
    <app-main-menu></app-main-menu>

    <div id="reservationContent">
        <h1>My Reservations</h1>
        
        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="isUpcoming" value="true" (change)="onChange()">
            <mat-button-toggle value="true">Upcoming</mat-button-toggle>
            <mat-button-toggle value="false">Past</mat-button-toggle>
        </mat-button-toggle-group>
        <br/>
        <br/>

        <mat-grid-list cols="1" rowHeight="3.5:1">
            <mat-grid-tile *ngFor="let reservation of reservations">
                <mat-grid-tile-header style="background-color: rgba(129, 85, 108, 0.418); height: 35px;">
                    <h2>Reservation No: &nbsp;<b>{{reservation.reservationId}}</b>&emsp;Room No: &nbsp;<b>{{reservation.room.roomNum}}</b></h2>
                </mat-grid-tile-header>
                <span style="width: 30%">
                    <div>
                        <img src="../../../assets/images/outlets/{{reservation.outlet.outletName}}.jpg" width="210px" style="margin-left: 30px; margin-top: 5px;">
                    </div>
                </span>
                <span style="width: 40%; text-align: justify; margin-left: 55px;">
                    <div style="margin-bottom: 5px;">Date: &nbsp;{{formatDate(reservation.date) | date:'EEEE dd MMMM yyyy'}}</div>
                    <div style="margin-bottom: 5px;">Time: &nbsp;{{formatDate(reservation.date) | date:'hh:mm a'}}</div>
                    <div style="margin-bottom: 5px;">Duration: &nbsp;{{reservation.duration}} hour(s)</div>
                    <div style="margin-bottom: 5px;">Total Price: &nbsp;${{reservation.totalPrice | number: '1.2-2'}}&nbsp;&nbsp;<span [class]="'reservation-badge status-' + reservation.status">{{reservation.status}}</span></div>
                </span>
                <span style="width: 30%">                   
                    <div class="button-row" style="margin-right: 20px;">
                        <button mat-raised-button (click)="openViewDialog(reservation)">
                            <i class="fas fa-info"></i>&nbsp;&nbsp;<span>Details</span>
                        </button><br/>
                        <button mat-raised-button (click)="viewSongQueue(reservation)">
                            <mat-icon>queue_music</mat-icon>&nbsp;<span>Song Queue</span>
                        </button>
                    </div>
                </span>
            </mat-grid-tile>
          </mat-grid-list>
    </div>

</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>
