/* You can add global styles to this file, and also import other style files */

body {
	display: block;
    width: 100%;
}

p {
	padding: 5px 0px 5px 0px;
}

table {
	border-style: solid; 
	border-width: 1px;
	font-size: smaller;
}

th, td {
	border-style: solid; 
	border-width: 1px;
	border-spacing: 1px;
    padding: 3px;
    height: 30px;
    width: 100px;
}

div {
    color: white;
}

.header {
    display: block;
    clear: both;
    background-color: transparent;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: transparent;
}

.mainmenu {
    display: block;
    width: 15%;
    float: left;
    padding: 10px;
    background-color: transparent;
}

.login-content {
    display: block;
    padding: 10px 10px;
}

.footer {
    display: block;
    clear: both;
    background-color: transparent;
    color: #950740;
}

.topnav {
    overflow: hidden;
    background-color:  transparent;
}

.topnav a {
    float: left;
    display: block;
    color: #C3073F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #C3073F;
    color: white;
}

.wrapper {
    background-color: transparent;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    left: 42.5%;
    padding: 80px;
    text-align: center;
    color: white;

}

.loginbox {
    display: block;
    text-align: right;
    font-size: 18px;
    padding: 3px 3px 3px 3px;
}

form {
    padding: 20px 0;
    margin-top: 0px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.loginbox {
    display: block;
    text-align: right;
    padding: 3px 3px 3px 3px;
}

.content {
    background-color: transparent;
    display: block;
    width: 85%;
    float: left;
}

.sidebar {
    display: block;
    width: 15%;
    float: right;
    background-color: transparent;
    color: #4E4E50;
    text-align: center;
}

.advertisement {
    margin: 5px 0px 5px 0px;
}

.infoText {
    color: blue;
}

.errorText {
    text-align: left;
    color: red;
}

.dataTable {
    width: 80%;
    border-style: bold;
    border-width: thin;
}

.snackbar {
  background: #950740;
  color: white;
}

mat-form-field {
    width: 200px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


