<aside class="sidebar">
	<h3>Advertisement</h3>			
	<figure class="advertisement">
		<img src="assets/images/300x300.png" height="120" width="120" alt="Advertisement 1" />
		<figcaption>Advertisement 1</figcaption>
	</figure>
	<figure class="advertisement">
		<img src="assets/images/300x300.png" height="120" width="120" alt="Advertisement 2" />
		<figcaption>Advertisement 2</figcaption>
	</figure>
	<figure class="advertisement">
		<img src="assets/images/300x300.png" height="120" width="120" alt="Advertisement 3" />
		<figcaption>Advertisement 3</figcaption>
	</figure>
</aside>
